<section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner_content">
                <div class="media">
                    <div class="d-flex">
                        <img src="img/personal.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <div class="personal_text">
                            <h6>Hi there, I am</h6>
                            <h3>{{user.firstname}} {{user.lastname}}</h3>
                            <h4>{{user.title}}</h4>
                            <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>
                            <ul class="list basic_info">
                                <!-- <li><a href="#"><i class="lnr lnr-calendar-full"></i> 31st December, 1992</a></li> -->
                                <li><a href="#"><i class="lnr lnr-phone-handset"></i>{{user.phone}}</a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> {{user.email}}</a></li>
                                <!-- <li><a href="#"><i class="lnr lnr-home"></i> Santa monica bullevard</a></li> -->
                            </ul>
                            <ul class="list personal_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>